{{! Armor Template }}
<section class="armor">
  <h3>Armor Details</h3>

  <div>
    <label for="armortype">Armor Type:</label>
    <select id="armortype" name="armor.armortype">
      {{#each @root.config.Item.armor.armortype.options as |value key|}}
        <option value="{{key}}">{{value}}</option>
      {{/each}}
    </select>
  </div>

  <div>
    <label for="kenetic-av">Kinetic AV:</label>
    <input type="number" id="kenetic-av" name="armor.kenetic AV.value" value="{{this.keneticAV.value}}" min="0" />
  </div>

  <div>
    <label for="non-kenetic-av">Non-Kinetic AV:</label>
    <input type="number" id="non-kenetic-av" name="armor.non-kenetic AV.value" value="{{this.non-keneticAV.value}}" min="0" />
  </div>

  <div>
    <label class='rollable' data-action='roll' data-roll='d100'>Roll</label>
  </div>
</section>